@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color:#185461;
  --dark-color: #053945;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.6 ;
  background-color: #fff;
  color: #333;
}
h1{
  font-weight: 450;
  font-size: 2rem;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  border-radius: 2px;
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 2% auto;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.3rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 10px;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  width: 15%;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
  height: 50px;

}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  width: 100%;
  padding:0.7rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
  padding: 0.3rem;
  font-size: 1.2rem;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
    padding-left: 5%;
    background: var(--primary-color) !important;
    padding-right: 5%;
}


.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.myContainer{
  width: 30%;
  margin: 7% auto;
  text-align: center;
  padding:7% 0;
  border:2px solid #185461;
  color: #12343b;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  border-radius: 2px;
}
.myContainer button{
  background-color: #053945;
  color: white;
  width: 80%;
  margin-top:10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  box-shadow: 2px 2px #185461 ;
}
body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.contest{
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.timer{
  padding:2rem;
  margin:5% auto;
  text-align: center;
  float: right;

}
table th, table td{
  text-align: center;
}
.problemContainer{
  width: 90%;
  margin: 2% auto;
  padding: 2%;
}
.contestHeading{
  width: 90%;
  margin: 0% auto;
  padding: 10px; 
}
.banner{
  width:70%;
  margin:0 auto;
  border: 1px dotted #ccc;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}
.table{
  width: 70%;
  margin: 2% auto;
}
.item span{
  padding: 1rem 1rem;
  font-size: 1.5em;
}
.element{
  padding: 10px;
  font-size: 1.5em;
}
.myCard{
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 2% auto;
  width:80%;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  box-shadow: 0px 0px 8px 2px rgba(163, 145, 163, 1);
  border-radius: 2px;
}
.content{
  margin: 5% 0;
  overflow-wrap: break-word;
}
.heading{
  color:brown;
  margin:2% auto;
}
.item span{
  cursor: pointer;
  transition: opacity 0.2s ease-in;


}
.item span:hover{
  background-color:var(--dark-color);
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;

}
.select{
  background-color:var(--dark-color);
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;


}
#dropdown {
  min-height:190px; 
  overflow-y :auto; 
  overflow-x:hidden; 
  position:absolute;
  width:300px;
  display: contents;
}
.form input{
  width: 30%; 
  display: inline !important;
  border-radius: 10px;
  
}
.form select{
  width: 30%;
  display: inline;
  margin: 2%;
  border-radius: 10px;
  background-color: var(--dark-color);
  color: white;
}
.form button{
  width: 15%;
}
@media only screen and (max-width: 500px) {
  .form input{
    width: 100%; 
    display: block !important;
    margin: 2%;
  }
  .form select{
    width: 100%;
    display: block;
    margin: 2%;
  }
  .form button{
    width: 100%;
    margin: 2%;
  }
  .myContainer{
    width: 80%;
    margin: 5% auto;
    margin-top:20%;
    padding: 10% 0;
    padding-bottom: 20%;
  }
  .myContainer button{
    background-color: #053945;
    color: white;
    width: 80%;
    margin-top:10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
  }
  .contest{
    grid-template-columns: 1fr;
  }
  .timermobile{
       display: block;
       padding:2rem;
       margin:5% auto;
       text-align: center;
  }
  .timer{
    display: none;
  }
  .language{
    width: 100%;
  }
  .ide button{
    display: block;
    margin-top: 2%;
    width: 100%;
  }
  .item span{
    display: block;
  }
  .myCard{
    width:90%
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .timermobile{
    display: none;
  }

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .myContainer{
    width:50%;
    margin:20% auto;
    padding: 7% 0;
    padding-bottom: 15%;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
  .myContainer{
    width: 30%;
    margin: 7% auto;
    text-align: center;
    padding:7% 0;
    border:1px solid #185461;
  }
  .language{
    width: 20%;
  }
  .ide button{
    display:inline;
  }
   
}
.pagination-status__item{
  display: inline;
}
.Search{
  width:70%;
  padding:5%;
  margin :0 auto;
}
.Search input[type="text"]{
  border-radius: 10px;
}
.Search input[type="text"]:focus{
  border:1px solid var(--dark-color);
}

.hljs{
  height: 500px;
  font-size: 20px;
}
.language{
  margin-bottom: 2%;
}
.monaco-editor{
  width: 100%;
}
.title{
  text-align: center;
  margin-top: 2%;
  font-size: 25px;
}
.clearfix{
  display: flex;
  justify-content: center;
  }
.rankList{
  width:100%;
}
h1,h2,h3,h4,h5,h6{
  color: var(--dark-color);
}
table thead tr th{
  background-color:var(--primary-color);
  color: white;
  border-radius: 10px;
}
table tbody tr:nth-child(even){
  background-color: aliceblue;
  
}
table tbody tr:nth-child(odd){
  background-color: #d1e2e5
  
}
.language{
  background-color: var(--dark-color);
  color: white;
  border-radius: 10px;
}
.pagination-status__btn{
  background: var(--primary-color);
  color:white;
  padding: 0.3rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  width: 15%;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
  height: 50px;
  margin-top: 0.2rem;
  border-radius: 5px;

}
.pagination-status__btn--active{
  background-color: var(--dark-color);
}
.pagination-status__btn--disable{
  background-color:#d1e2e5;
  color: var(--dark-color);
}

